{% extends 'base.html.twig' %}

{% block title %}Check All Our Suppliers{% endblock %}

{% block body %}
<a href="{{ path('app_supplier_create') }}" class="btn btn-create">Add a New Supplier</a>
<h2>Our Suppliers</h2>

<form method="get" action="{{ path('app_supplier_index') }}" class="mb-3">
    <select class="form-select" name="filter" onchange="this.form.submit()">
        <option value="all" {{ filter == 'all' ? 'selected' : '' }}>All Suppliers</option>
        <option value="active" {{ filter == 'active' ? 'selected' : '' }}>Active Suppliers</option>
        <option value="hotel" {{ filter == 'hotel' ? 'selected' : '' }}>Show only Hotel suppliers</option>
        <option value="track" {{ filter == 'track' ? 'selected' : '' }}>Show only Track suppliers</option>
        <option value="complement" {{ filter == 'complement' ? 'selected' : '' }}>Show only Complement suppliers</option>
    </select>
</form>

<table class="table table-custom">
    <thead class="thead-dark">
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Active</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.type.name }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.mail }}</td>
            <td>{{ supplier.number }}</td>
            <td>{{ supplier.active ? 'Yes' : 'No' }}</td>
            <td>{{ supplier.description }}</td>
            <td>
                <a href="{{ path('app_supplier_update', {'id': supplier.id}) }}" class="btn btn-edit">Edit</a>
                <a href="{{ path('app_supplier_delete', {'id': supplier.id}) }}" class="btn btn-delete" onclick="return confirm('You are about to delete a resource. This action is irreversible')">Delete</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7" class="text-center">No suppliers found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
